<div id="create" class="modal bs-modal-lg fade" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">选择学校</h4>
            </div>
            <div class="modal-body">

              <div style="min-height:300px" >
                <form class="form-inline" role="form" style="margin-bottom:15px; float:right;">

                  <div class="form-group">
                    <select class="form-control input-small">
                        <option>请选择国家</option>
                        <option>美国</option>
                        <option>日本</option>
                        <option>澳大利亚</option>
                        <option>西班牙</option>
                    </select>
                  </div>
                  <div class="input-group input-medium">
                      <input type="text" class="form-control" placeholder="关键字">
                      <span class="input-group-btn">
                          <button class="btn blue" type="button">查询</button>
                      </span>
                  </div>


                  </form>
                  <div class="dataTables_wrapper" style="margin-top:10px;">

                  <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <thead class="flip-content">
                        <tr>

                            <th style="width:150px;"> 学校 </th>
                            <th > 托福雅思 </th>
                            <th > 学历 </th>
                            <th> 专业 </th>
                            <th > 操作 </th>
                        </tr>
                    </thead>
                    <tbody>
                      <%for(var i =0;i<10;i++){%>
                        <tr>
                            <td> <a target="_blank" href="/school/schooldetail">某某大学00<%= i%></a> </td>
                            <td>6.5分</td>
                            <td class="numeric"> 本科、研究生 </td>
                            <td class="numeric"> 软件工程、会计学、医学、生物工程...等46个专业 </td>
                            <td style="text-align:center;" >
                              <a href="javascript:;" data-dismiss="modal" style="margin-right:10px;">选择</a>
                            </td>
                        </tr>
                      <%}%>

                    </tbody>
                  </table>

                  <div class="row">
                    <div class="col-md-12 col-sm-12">
                      <div class="dataTables_paginate paging_bootstrap_full_number pull-right" id="sample_1_paginate">
                        <ul class="pagination" style="visibility: visible;">
                          <li class="prev disabled"><a href="#" title="First"><i class="fa fa-angle-double-left"></i></a></li>
                          <li class="prev disabled"><a href="#" title="Prev"><i class="fa fa-angle-left"></i></a></li>
                          <li class="active"><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                          <li class="next"><a href="#" title="Next"><i class="fa fa-angle-right"></i></a></li>
                          <li class="next"><a href="#" title="Last"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul></div>
                      </div>
                    </div>

                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
