<% var leftnav="system"%>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>留学生管理平台</title>
        <% include ../module/head %>
    </head>
    <!-- END HEAD -->

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">

        <!-- BEGIN HEADER -->
        <% include ../module/top%>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <% include ../module/left%>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->

                    <!-- BEGIN PAGE BAR -->
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <a href="/system/datasettinglist">材料模板设置</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="/system/datasettinglist">模板列表</a>
                            </li>
                        </ul>
                    </div>
                    <!-- END PAGE BAR -->
                    <!-- BEGIN PAGE TITLE-->
                    <h3 class="page-title"> 材料模板录入</h3>
                    <!-- END PAGE TITLE-->
                    <!-- END PAGE HEADER-->

                    <div class="profile-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="portlet light ">

                                            <div class="portlet-body">
                                                <div class="tab-content">
                                                    <!-- PERSONAL INFO TAB -->
                                                    <div class="tab-pane active" id="tab_1_1">
                                                        <form role="form" action="#">
                                                            <div class="row">

                                                              <div class="col-md-4">
                                                                <div class="form-group">
                                                                  <label class="control-label">模板名称</label>
                                                                  <input type="text" placeholder="" class="form-control" />
                                                                </div>
                                                              </div>
                                                              <div class="col-md-5">
                                                                  <div class="form-group">
                                                                    <label class="control-label">标签：</label>
                                                                    <input type="text"  class="form-control" />
                                                                  </div>
                                                              </div>

                                                            </div>


                                                            <div class="row">
                                                              <div class="col-md-9">

                                                                <div class="form-group">
                                                                  <label class="control-label">选择材料：</label>
                                                                  <a href="#" data-target="#model-cl" data-toggle="modal">添加</a>
                                                                  <style>
                                                                  .clitem{display: inline-block; margin-right: 15px; border:1px solid #ccc; padding:0.2em 1em;}
                                                                  .clitem .fa-times{cursor: pointer;}
                                                                  </style>
                                                                  <div>
                                                                    <span class="clitem">某某材料001 <i class="fa fa-times"></i></span>
                                                                    <span class="clitem">某某材料002 <i class="fa fa-times"></i></span>

                                                                  <div>
                                                                </div>
                                                              </div>

                                                            </div>


                                                            <div class="row">
                                                              <div class="col-md-9">
                                                              <div class="form-group">
                                                                <label class="control-label">备注：</label>
                                                                <textarea placeholder="" rows="3" class="form-control"></textarea>
                                                              </div>
                                                              </div>
                                                            </div>




                                                            <div class="margiv-top-10">
                                                                <a href="javascript:;" class="btn green"> 保存 </a>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <!-- END PERSONAL INFO TAB -->
                                                    <!-- CHANGE AVATAR TAB -->
                                                    <!-- END CHANGE AVATAR TAB -->
                                                    <!-- CHANGE PASSWORD TAB -->
                                                    <!-- END CHANGE PASSWORD TAB -->
                                                    <!-- PRIVACY SETTINGS TAB -->
                                                    <!-- END PRIVACY SETTINGS TAB -->

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>







                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>

        <% include ../system/model-cl%>

        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <% include ../module/bottom%>
        <!-- END FOOTER -->
        <% include ../module/foot%>

        <!-- BEGIN PAGE LEVEL PLUGINS -->


    </body>

</html>
