<% var leftnav="customer"%>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>留学生管理平台</title>
        <% include ../module/head %>
        <link href="/css/customer.css" rel="stylesheet" type="text/css" />

        <link href="/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css">

    </head>
    <!-- END HEAD -->

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
        <!-- BEGIN HEADER -->
        <% include ../module/top%>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <% include ../module/left%>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->

                    <!-- BEGIN PAGE BAR -->
                    <div class="page-bar">
                      <ul class="page-breadcrumb">
                          <li>
                              <a href="/customer/customerlist">客户管理</a>
                              <i class="fa fa-circle"></i>
                          </li>
                          <li>
                              <a href="/customer/customerlist">客户列表</a>
                              <i class="fa fa-circle"></i>
                          </li>
                          <li>
                              <a href="/customer/customerdetail">王可兵</a>
                          </li>
                      </ul>
                    </div>
                    <!-- END PAGE BAR -->
                    <!-- BEGIN PAGE TITLE-->
                    <h3 class="page-title"> 创建留学工单
                    </h3>

                    <div class="portlet-body">
                        <div class="mt-element-step">
                          <div class="row step-thin">
                            <div class="col-md-6 bg-grey mt-step-col active">
                                <div class="mt-step-number bg-white font-grey">1</div>
                                <div class="mt-step-title uppercase font-grey-cascade">文书设置</div>
                                <div class="mt-step-content font-grey-cascade">申请留学所需的材料</div>
                            </div>
                            <div class="col-md-6 bg-grey mt-step-col">
                                <div class="mt-step-number bg-white font-grey">2</div>
                                <div class="mt-step-title uppercase font-grey-cascade">工单确认</div>
                                <div class="mt-step-content font-grey-cascade">确认信息并提交工单</div>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="portlet-body form" style="margin-top:25px;">
                     <form action="#" class="form-horizontal" id="submit_form" method="POST">
                         <div class="form-wizard">
                             <div class="form-body">
                  <div class="tab-content">
                      <div class="tab-pane active" id="tab1">
                          <div class="form-group">
                              <label class="control-label col-md-3">已选学校/专业
                                <span class="required"> * </span>
                              </label>
                              <div class="col-md-7">
                                <span class="form-control-static"> 1、哈佛大学-建筑工程  截止日期：2017-09-09</span><br>
                                <span class="form-control-static"> 2、麻省理工大学-医学 截止日期：2017-12-09</span><br>
                                <span class="form-control-static"> 3、剑桥大学-国际金融与贸易 截止日期：2017-09-01</span><br>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="control-label col-md-3">必需文书
                                  <span class="required"> * </span>
                              </label>
                              <div class="col-md-7">
                                  <%for(var j=0;j<5;j++){%>
                                  <span class="form-control-static" style="margin-right:20px; color:blue;"> 文书xx<%= j%> </span>
                                  <%}%>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="control-label col-md-3">其它必要文书
                                  <span class="required"> * </span>
                              </label>
                              <div class="col-md-7">
                                <div class="checkbox-list">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox1" value="option1"> PS</label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox2" value="option2"> CV </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox3" value="option3" checked> 论文 </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox4" value="option4" checked> 个人资料 </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox5" value="option5" checked> 文书种类3 </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" id="inlineCheckbox6" value="option6"> 文书4 </label>
                                  </div>
                              </div>
                          </div>


                          <div class="form-group" style="margin-top:40px;">
                              <div class="col-md-offset-3 col-md-7">
                                  <a href="/customer/create3" class="btn green">下一步</a>
                              </div>
                          </div>
                      </div>
                  </div>

                </div></div></form></div>

                    <!-- END PAGE TITLE-->
                    <!-- END PAGE HEADER-->

                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>

        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <% include ../module/bottom%>
        <!-- END FOOTER -->
        <% include ../module/foot%>
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
        <script src="/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
    </body>

</html>
