<div id="model-gj0" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">添加申请记录</h4>
        </div>
        <div class="modal-body">


              <form role="form" action="#">
                <div class="row">

                  <div class="col-md-3">

                      <div class="form-group">
                        <label class="control-label">申请学校：</label>
                        <span>
                          <select class="form-control"/> input-small">
                            <option>请选择</option>
                            <option>哈佛大学</option>
                            <option>芝加哥大学</option>
                          </select>
                          <span>
                      </div>
                  </div>
                </div>
                <div class="row">

                  <div class="col-md-3">

                      <div class="form-group">
                        <label class="control-label">录取状态：</label>
                        <span>
                          <select class="form-control"/> input-small">
                            <option>申请中</option>
                            <option>未录取</option>
                            <option>已录取</option>
                          </select>
                          <span>
                      </div>
                  </div>
                  <div class="col-md-6">

                      <div class="form-group">
                        <label class="control-label">结果通知书：(申请有结果时，请上传)</label>
                        <div>
                          <span class="btn green fileinput-button">
                            <i class="fa fa-plus"></i>
                            <span> 选择文件 </span>
                            <input type="file" name="files[]" multiple="">
                          </span>
                        </div>
                      </div>
                  </div>


                </div>
                  <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                          <label class="control-label">申请记录：</label>
                          <textarea class="form-control"></textarea>
                        </div>
                    </div>


                  </div>
              </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn green">确定</button>
        </div>
      </div>
  </div>
</div>
