<% var leftnav="school"%>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>留学生管理平台</title>
        <% include ../module/head %>
        <link href="/css/customer.css" rel="stylesheet" type="text/css" />

    </head>
    <!-- END HEAD -->

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
        <!-- BEGIN HEADER -->
        <% include ../module/top%>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <% include ../module/left%>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->

                    <!-- BEGIN PAGE BAR -->
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <a href="/school/schoollist">院校管理</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <a href="/school/schoollist">院校列表</a>
                            </li>
                        </ul>
                    </div>
                    <!-- END PAGE BAR -->
                    <!-- BEGIN PAGE TITLE-->
                    <h3 class="page-title"> 院校列表</h3>
                    <!-- END PAGE TITLE-->
                    <!-- END PAGE HEADER-->

                      <div class="row">
                        <div class="col-md-12">
                          <a id="genpassword" href="/school/schooladd" class="btn btn-success" ><i class="fa fa-arrow-left fa-plus"></i> 添加院校</a>

                        </div>
                      </div>
                      <form class="form-inline" role="form" style="margin-bottom:15px; float:right;">

                            <div class="form-group">
                                <select class="form-control input-small">
                                  <option>请选择学历</option>
                                   <option>高中</option>
                                   <option>学士</option>
                                   <option>硕士</option>
                                   <option>博士</option>
                               </select>
                            </div>

                            <div class="form-group">
                                <select class="form-control input-small">
                                  <option>请选择专业</option>
                                   <option>医学</option>
                                   <option>计算机</option>
                                   <option>生物工作</option>
                                   <option>建筑</option>
                                   <option>法学</option>
                                   <option>日语</option>
                               </select>
                            </div>

                          <div class="input-group input-medium">
                              <input type="text" class="form-control" placeholder="关键字">
                              <span class="input-group-btn">
                                  <button class="btn blue" type="button">查询</button>
                              </span>
                          </div>
                      </form>

                    <div class="row">
                        <div class="col-md-12">
                          <div class="" id="sample_1">
                              <table class="table table-striped table-bordered table-hover">
                                <thead class="flip-content">
                                    <tr>
                                        <th >

                                        </th>

                                        <th> 学校 </th>
                                        <th class="numeric"> 学历 </th>
                                        <th class="numeric"> 专业 </th>
                                        <th class="numeric"> 操作 </th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <%for(var i =0;i<15;i++){%>
                                    <tr>
                                        <td> <input type="checkbox" class="checkboxes" value="1" /> </td>
                                        <td> <a href="/school/schooldetail">哈佛大学</a> </td>
                                        <td class="numeric"> 本科、研究生 </td>
                                        <td class="numeric"> 软件工程、会计学、医学、生物工程...等46个专业 </td>
                                        <td style="text-align:center;" >
                                          <a href="/school/schooldetail" style="margin-right:10px;"><i class="fa fa-link"></i>查看详情</a>
                                          <a href="/school/schooladd"><i class="fa fa-pencil"></i>编辑</a> </td>
                                    </tr>
                                  <%}%>

                                </tbody>
                            </table>
                          </div>
                        </div>
                    </div>

                    <div class="row">
                      <div class="col-md-5">
                        </div>
                      <div class="col-md-7">
                        <div class="dataTables_paginate paging_bootstrap_number" id="sample_1_paginate" style="text-align:right;">
                          <ul class="pagination" style="visibility: visible;"><li class="prev disabled"><a href="#" title="Prev"><i class="fa fa-angle-left"></i></a></li><li class="active"><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                          <li class="next"><a href="#" title="Next"><i class="fa fa-angle-right"></i></a></li></ul>
                        </div>
                      </div>
                    </div>
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <% include ../module/bottom%>
        <!-- END FOOTER -->
        <% include ../module/foot%>
    </body>

</html>
